.veol-viewport{
  display: flex;
  background: #444;
  line-height: 1em;
}

.veol-vp-main{
  flex: 1;
}

.veol-vp-toolbox-container{
  min-width: 250px;
  display: none;

  &.veol-show{
    display: block;
  }
}

.veol-vp-left{
  border-right: $veol-toolbox-border-style;
}
.veol-vp-right{
  border-left: $veol-toolbox-border-style;
}


