@import "variables";
@import "mixins/global";
@import "mixins/grid-framework";
@import "form/form";

.veol-tooltip{

  position: relative;

  &:hover:after{
    display: block;
    position: absolute;

    background: rgba(0,0,0, 0.8);
    color: #FFF;
    content: attr(data-tooltip);
    padding: 2px;
    white-space: nowrap;
    right: 0;
    z-index: 9000;
  }

  &.veol-tooltip-help-icon:before{
    font-family: FontAwesome;
    content: "\f29c";
  }
}

@import "layout/toolbox";
@import "layout/widget-preview";
@import "layout/widget-tree";
@import "layout/widget-properties-editor";
@import "layout/topbar";
@import "layout/modal";
@import "layout/widget-creator";
@import "layout/viewport";
@import "buttons";
@import "grid_system";


.veol-hide{
  display: none !important;
}

